@model Eko.Models.ItemViewModels.ViewItemViewModel

<table class="table">
    <tr>
        <td>Seller</td>
        <td>@Model.Item.Owner.UserName</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>@Model.Item.Title</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>$@Model.Item.Price</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Item.Description</td>
    </tr>
    <tr>
        <td>Condition</td>
        <td>@Model.Item.Condition</td>
    </tr>
    <tr>
        <td>Brand</td>
        <td><a href="/Search?brand=@Model.Item.Brand.URLName">@Model.Item.Brand.Name</a></td>
    </tr>
    <tr>
        <td>Model</td>
        <td><a asp-controller="PriceGuide" asp-action="Model" asp-route-id="@Model.Item.Model.ID">@Model.Item.Model.Name</a></td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Model.Item.Category.FullName</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>@Model.Item.Year</td>
    </tr>
</table>

@if (Model.ImageIds.Count != 0)
{
    <h3>Images</h3>
    @foreach (var imageId in Model.ImageIds)
    {
        <img src="/Items/ViewImage/@imageId" height="500" hspace="20"/>
    }
}

<div>@Model.Watchers  Watchers</div>

@if (!Model.Owner)
{
    <form asp-controller="WatchList" asp-action="AddToWatchList" method="post">
        <input type="hidden" name="id" value="@Model.Item.ID" />
        <input type="submit" value="Add to Watch List" />
    </form>
    <br />

    @if (Model.Item.ForSale)
    {
        <form asp-controller="Cart" asp-action="AddToCart" method="post">
            <input type="hidden" name="id" value="@Model.Item.ID" />
            <input type="submit" value="Add to Cart" />
        </form>
        <br />
    }
    else
    {
        <div>This listing has ended.</div>
        <br />
    }
}
else
{
    @if (!Model.Item.Sold)
    {
        <div><a asp-controller="Items" asp-action="Edit" asp-route-id="@Model.Item.ID">Edit</a></div>
    }
    else
    {
        <div>Item sold @Model.Item.SoldDate</div>
    }
}