@model Eko.Models.ItemViewModels.ViewItemViewModel

<table class="table">
    <tr>
        <td>Seller</td>
        <td>@Model.Item.Owner.UserName</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>@Model.Item.Title</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>$@Model.Item.Price</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Item.Description</td>
    </tr>
</table>

@foreach (var imageId in Model.ImageIds)
{
    <img src="/Items/ViewImage/@imageId" />
}

<form asp-controller="WatchList" asp-action="AddToWatchList" method="post">
    <input type="hidden" name="id" value="@Model.Item.ID" />
    <input type="submit" value="Add to Watch List" />
</form>

<form asp-controller="Cart" asp-action="AddToCart" method="post">
    <input type="hidden" name="id" value="@Model.Item.ID" />
    <input type="submit" value="Add to Cart" />
</form>